# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\k8s项目\k8s-simulator-prop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
